.navbar {
    background-color: var(--background);
    flex: 0 0 50px;
    display: flex;
    height: 50px;
    grid-gap: 16px;
}

::deep .navbar-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

    ::deep .navbar-item:hover .navbar-title {
        color: var(--primary-complementary);
    }

::deep .navbar-title {
    color: var(--primary);
    font-size: 12px;
    position: relative;
    top: 16px;
}

::deep .active .navbar-item {
    box-sizing: border-box;
    border-bottom: var(--sg_sm) solid var(--primary-complementary);
}