/* /Components/ProgressDoughnut.razor.rz.scp.css */
.doughnut circle[b-q41gh6ybsv] {
    fill: none;
    stroke: var(--primary);
    stroke-width: 28px;
}

.doughnut-progress[b-q41gh6ybsv] {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke-dasharray: 317.3;
}
/* /Layout/HeaderBar.razor.rz.scp.css */
.header-bar[b-yn5gadwwv0] {
    background-color: var(--header);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--sg);
}

.header-section[b-yn5gadwwv0] {
    display: flex;
    align-items: center;
    height: calc(var(--sg) * 6);
}

.header-button-section[b-yn5gadwwv0] {
    visibility: collapse;
}

.header-button[b-yn5gadwwv0] {
    position: relative;
    z-index: 1000;
    background-color: var(--header);
    border: none;
    cursor: pointer;
    display: flex;
    padding: var(--sg);
}

    .header-button:hover[b-yn5gadwwv0] {
        background-color: var(--primary-hover);
    }


.navigation-bar[b-yn5gadwwv0] {
    z-index: 1000;
}

.overlay[b-yn5gadwwv0] {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 !important;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 5;
}

@media (max-width: 640px) {
    .header-button[b-yn5gadwwv0] {
        visibility: visible;
    }

    .navigation-bar:not(.toggled)[b-yn5gadwwv0],
    .navigation-bar:not(.toggled)[b-yn5gadwwv0]  .navbar,
    .navigation-bar:not(.toggled)[b-yn5gadwwv0]  .navbar-item,
    .navigation-bar:not(.toggled)[b-yn5gadwwv0]  .navbar-title {
        visibility: collapse;
        height: 0px;
        border: none;
        font-size: 0px;
        transition-duration: 0ms;
    }

    .navigation-bar.toggled[b-yn5gadwwv0] {
        display: block;
        position: absolute;
        top: calc(var(--sg) * 6);
        right: var(--sg_xlg);
        left: var(--sg_xlg);
    }

        .navigation-bar.toggled[b-yn5gadwwv0]  .navbar {
            height: auto;
            flex-direction: column;
        }

        .navigation-bar.toggled[b-yn5gadwwv0]  .active .navbar-item {
            box-sizing: initial;
            border-bottom: none;
            border-left: var(--sg_sm) solid var(--primary-complementary);
        }

        .navigation-bar.toggled[b-yn5gadwwv0]  .navbar-item {
            width: auto;
            align-items: start;
            padding: var(--sg_lg);
        }

        .navigation-bar.toggled[b-yn5gadwwv0]  .navbar-title {
            top: 0px;
        }
}
/* /Layout/NavigationBar.razor.rz.scp.css */
.navbar[b-8zi8rebq3d] {
    background-color: var(--primary);
    flex: 0 0 50px;
    display: flex;
    height: 50px;
}

[b-8zi8rebq3d] .navbar-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50px;
}

    [b-8zi8rebq3d] .navbar-item:hover {
        background-color: var(--primary-hover);
    }

[b-8zi8rebq3d] .navbar-title {
    color: var(--white);
    font-size: 12px;
    position: relative;
    top: 16px;
}

[b-8zi8rebq3d] .active .navbar-item {
    box-sizing: border-box;
    border-bottom: var(--sg_sm) solid var(--primary-complementary);
}
/* /Pages/ArticlePage.razor.rz.scp.css */
.year-container[b-d6me8xi2if] {
    font-family: Bitter, sans-serif;
    font-weight: 600;
    border-bottom: 1px solid black;
    padding-bottom: var(--sg);
    font-size: 18px;
}

.article-container[b-d6me8xi2if] {
    padding: var(--sg_lg) 0px;
}

.link-container[b-d6me8xi2if] {
    padding-bottom: var(--sg);
}

.link[b-d6me8xi2if] {
    color: var(--primary); 
    font-size: 18px;
}

span.author[b-d6me8xi2if] {
    color: var(--primary);
    font-weight: 600;
}
