/* /Components/ProgressDoughnut.razor.rz.scp.css */
.doughnut circle[b-q41gh6ybsv] {
    fill: none;
    stroke: var(--primary);
    stroke-width: 28px;
}

.doughnut-progress[b-q41gh6ybsv] {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke-dasharray: 317.3;
}
/* /Layout/HeaderBar.razor.rz.scp.css */
.header-bar[b-yn5gadwwv0] {
    background-color: var(--header);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--sg);
    padding-right: var(--sg);
}

.header-section[b-yn5gadwwv0] {
    display: flex;
    align-items: center;
    height: calc(var(--sg) * 6);
}

.navigation-bar.toggled[b-yn5gadwwv0] {
    display: block;
    transition: 0.3s;
    visibility: visible;
    height: 50px;
}

.header-button[b-yn5gadwwv0] {
    visibility: collapse;
}

.overlay[b-yn5gadwwv0] {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 !important;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    display: flex;
    position: fixed;
    transition: .3s cubic-bezier(0.25, 0.8, 0.5, 1),z-index 1ms;
    z-index: 5;
}

@media (max-width: 640px) {
    .header-button[b-yn5gadwwv0] {
        visibility: visible;
    }

    .navigation-bar:not(.toggled)[b-yn5gadwwv0] {
        visibility: collapse;
        height: 0px;
    }

    .navigation-bar.toggled[b-yn5gadwwv0] {
        display: block;
        position: absolute;
        top: calc(var(--sg) * 6);
        right: var(--sg_xlg);
        left: var(--sg_xlg);
        transition: var(--transition);
    }

        .navigation-bar.toggled[b-yn5gadwwv0]  .navbar {
            flex: 0 0 50px;
            display: flex;
            height: auto;
            flex-direction: column;
        }

        .navigation-bar.toggled[b-yn5gadwwv0]  .active .navbar-item {
            box-sizing: initial;
            border-bottom: none;
            border-left: var(--sg_sm) solid var(--primary-complementary);
        }

        .navigation-bar.toggled[b-yn5gadwwv0]  .navbar-item {
            width: auto;
            align-items: start;
            padding: var(--sg_lg);
        }

        .navigation-bar.toggled[b-yn5gadwwv0]  .navbar-title {
            top: 0px;
        }
}
/* /Layout/NavigationBar.razor.rz.scp.css */
.navbar[b-8zi8rebq3d] {
    background-color: var(--primary);
    flex: 0 0 50px;
    display: flex;
    height: 50px;
}

[b-8zi8rebq3d] .navbar-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50px;
}

    [b-8zi8rebq3d] .navbar-item:hover {
        background-color: var(--primary-hover);
        transition-duration: var(--transition);
    }

[b-8zi8rebq3d] .navbar-title {
    color: var(--white);
    font-size: 12px;
    position: relative;
    top: 16px;
}

[b-8zi8rebq3d] .active .navbar-item {
    box-sizing: border-box;
    border-bottom: var(--sg_sm) solid var(--primary-complementary);
}
