@page "/"

<PageTitle>About me</PageTitle>

<div class="home-page">
    <div style="padding-left: 15%;padding-right: 10%;display: flex;grid-gap: 5%;padding-top: 128px;">
        <div>
            <div class="picture-container">
                <img src="./picture.png" alt="Personal picture" height="240" width="240" />
            </div>
            <div style="display: flex; grid-gap: 8px; justify-content: center;">
                <a class="social-link" href=""><Github Size="24" /></a>
                <a class="social-link" href=""><LinkedIn Size="24" /></a>
                <a class="social-link" href=""><Orchid Size="24" /></a>
                <a class="social-link" href=""><ResearchGate Size="24" /></a>
            </div>
        </div>
        <div>
            <div style="font-size: 80px;font-family: 'Poppins', sans-serif;">Hello</div>
            <div>I’m a coastal physical oceanographer. My research interests include estuarine and coastal hydrodynamics, morphodynamics and transport of sediments and microplastics. I am particularly interested in understanding how climate change and human interventions impact estuarine systems. My research involves numerical and semi-analytical modeling and observational studies.</div>
            <div style="display:flex; margin-top: 32px;">
                <div>Estuarine dynamics</div>
                <div>Microplastic transport</div>
                <div>Transport processes along the continuum</div>
            </div>
            <div style="display: flex; grid-gap: 8px;">
                <SDG3 Size=60 />
                <SDG7 Size=60 />
                <SDG13 Size=60 />
                <SDG14 Size=60 />
                <SDG15 Size=60 />
            </div>
            <div>Research interests</div>
            <div style="display: flex; grid-gap: 8px;justify-content: center;align-items: center;">
                <div style="display: flex; grid-gap: 8px;">
                    <ProgressDoughnut Size="32" Percentage="100" />
                    <div>Water Quality</div>
                </div>
                <div style="display: flex; grid-gap: 8px;">
                    <ProgressDoughnut Size="32" Percentage="75" />
                    <div>Algorithms</div>
                </div>
                <div style="display: flex; grid-gap: 8px;">
                    <ProgressDoughnut Size="32" Percentage="50" />
                    <div>Lagoon</div>
                </div>
            </div>
        </div>
    </div>

</div>
